/* Initialization */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #171717;
    overflow-x: hidden;
}

/* Navigation Bar */
.navbar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-direction: row;
    background-color: #222222;
    z-index: 100;
    top: 1rem;
    margin-top: 3rem;
    position: fixed;
    border-radius: 40px;
    margin-left: 15%;
    margin-right: 15%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}
.navbar img{
    width: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.navbar img:hover{
    transform: scale(1.2);
    background-color: #1717176b;
    padding: 0.6rem;
    border-radius: 40px;
}
.navbar ul{
    list-style: none;
    display: flex;
    padding-left: 1%;
    padding-right: 5%;
}
.navbar ul li{
    margin-left: 20px;
}
.navbar ul li a{
    color: #d2d2d2;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: medium;
    text-align: left;
    margin: 0.2rem;
    transition: 0.2s;
}
.navbar ul li a:hover{
    color: #D138D6;
    font-weight: 700;
    /* background-color: #1717176b;
    padding: 0.7rem;
    border-radius: 50px; */
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Home Page */
.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 15%;
    color: #d2d2d2;
}
.lefttext, .righttext{
    flex: 1;
    opacity: 0;
    transform: translateY(50px);
    animation: floatUp 4s forwards;
}
.hello h1{
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size:4vw;
    margin-bottom: -3%;
}
.name h1{
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size:2.9vw;
}
.lefttext{
    animation-delay: 1s;
}
.lefttext h1{
    /* animation-delay: 1s; */
    transition-duration: 0.5s;
    /* transition-delay: 1s; */
    transition-timing-function: ease-in-out;
}
.righttext{
    padding-left: 20px;
    animation-delay: 3s;
}
.righttext p{
    font-family: "Montserrat", sans-serif;
    /* animation-delay: 5s; */
    font-weight: 200;
    font-size: 1.2vw;
    text-align: justify;
}
.lefttext h1:hover{
    transform: translateY(-3%);
}

@keyframes floatUp {
    from {
        opacity: 0;
        /* delay */
        transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* Medias */
@media (max-width: 768px){
    /* Navigation Bar */
    .list a{
        display:none;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 2rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    .hamburger.active{
        transform: rotate(90deg);
    }
    .list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-height: 300px;
        opacity: 1;
    }
    .navbar.active ul li{
        margin: 0px;
        margin-bottom: 0.5rem;
        text-align: right;
        align-self: self-end;
    }
    .list.active{
        display: flex;
        position: absolute;
        right: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        top: 4.5rem;
        visibility: visible;
        opacity: 1;
        background-color: #222222;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 4rem;
        padding-right: 1rem;
        border-radius: 10px;
    }
    .list.active a{
        display:block;
    }
    
    /* Home Page */
    .homepage {
        flex-direction: column; /* Stack the content vertically */
        padding-left: 10%; 
        padding-right: 10%;
        height: auto;
        padding-top: 50%;
        padding-bottom: 50%;
    }
    
    .hello h1, .name h1 {
        text-align: center; /* Center-align text for smaller screens */
    }

    .name h1{
        font-size: 8vw;
    }
    .name{
        align-items: center; 
    }
    
    .hello h1{
        font-size: 7vw;
        /* margin-bottom: 1px; */
        padding-bottom: 0.3rem;
    }
    
    .lefttext{
        margin-bottom: 0.5rem;
        width: 120%;
    }
    .righttext {
        padding-left: 0; /* Remove padding since the text is stacked */
        text-align: center; /* Optional: Center-align the paragraph text */
        /* padding-right: -100%; */
      }
    
      .righttext p {
        font-size: 2.3vw; /* Adjust font size for readability */
      }

}












.DELETETHIS{
    margin-top: 5000px;
}