/* Initialization */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #171717;
    overflow-x: hidden;
}

/* Navigation Bar */
.navbar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-direction: row;
    background-color: #222222;
    z-index: 100;
    top: 1rem;
    margin-top: 3rem;
    position: fixed;
    border-radius: 40px;
    margin-left: 15%;
    margin-right: 15%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}
.navbar img{
    width: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.navbar img:hover{
    transform: scale(1.2);
    background-color: #1717176b;
    padding: 0.6rem;
    border-radius: 40px;
}
.navbar ul{
    list-style: none;
    display: flex;
    padding-left: 1%;
    padding-right: 5%;
}
.navbar ul li{
    margin-left: 20px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: medium;
    text-align: left;
    margin: 0.2rem;
    transition: 0.2s;
}
.navbar ul li a:hover{
    color: #D138D6;
    font-weight: 700;
    /* background-color: #1717176b;
    padding: 0.7rem;
    border-radius: 50px; */
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Medias */
@media (max-width: 768px){
    .list a{
        display:none;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 2rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    .hamburger.active{
        transform: rotate(90deg);
    }
    
    .list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-height: 300px;
        opacity: 1;
    }
    .navbar.active ul li{
        margin: 0px;
        margin-bottom: 0.5rem;
        text-align: right;
        align-self: self-end;
    }
    .list.active{
        display: flex;
        position: absolute;
        right: 1.5rem;
        /* margin-top: 5rem; */
        flex-direction: column;
        align-items: flex-start;
        top: 4.5rem;
        visibility: visible;
        opacity: 1;
        background-color: #222222;
        /* padding: 2rem; */
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 4rem;
        padding-right: 1rem;
        border-radius: 10px;
    }
    .list a{
        /* flex-direction: column; */
        /* display: none; */
        /* background-color: #222222; */
        /* text-align: right; */
    }
    .list.active a{
        display:block;
        /* text-align: right; */

    }
    
    
    

}












.DELETETHIS{
    margin-top: 5000px;
}