/* Initialization */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    overflow-x: hidden;
    cursor: default;
}

/* Navigation Bar */
.navbar {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-direction: row;
    background-color: #222222;
    z-index: 100;
    top: 1rem;
    margin-top: 3rem;
    position: fixed;
    border-radius: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.navbar img {
    width: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.navbar img:hover {
    transform: scale(1.2);
    background-color: #1717176b;
    padding: 0.6rem;
    border-radius: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-left: 1%;
    padding-right: 5%;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #d2d2d2;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: medium;
    text-align: left;
    margin: 0.2rem;
    transition: 0.2s;
}

.navbar ul li a:hover {
    color: #D138D6;
    font-weight: 700;
    /* background-color: #1717176b;
    padding: 0.7rem;
    border-radius: 50px; */
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Home Page */
.line1 {
    color: #363636;
    position: absolute;
    margin-top: -5%;
    width: 50%;
}

.line2 {
    color: #363636;
    position: absolute;
    margin-top: 3%;
    width: 50%;
}

.homepage {
    display: flex;
    /* margin-top: 3%; */
    margin-bottom: 3%;
    /* flex-direction: co; */
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    height: 100vh;
    box-sizing: border-box;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    color: #d2d2d2;
}

.lefttext,
.righttext {
    /* text-align: right; */
    flex: 1;
    opacity: 0;
    transform: translateY(50px);
    animation: floatUp 3s forwards;
    margin-top: -1%;
    /* paint-order: stroke fill; */
}

.hello h1 {
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5vw;
    /* font-weight: 00; */
    z-index: 50;
    /* margin-bottom: -15%; */
}

.name {
    letter-spacing: 0.1vw;
    /* margin-top: -200%; */
    max-height: none;
}

.name h1 {
    /* line-height: -200%; */

    letter-spacing: -1vw;
    paint-order: stroke fill;
    text-align: end;
    /* padding-top: -200%; */
    margin-top: -18%;
    padding-top: -500%;
    /* padding-right: 4%; */
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Libre Baskerville", serif;
    text-transform: lowercase;
    font-weight: 800;
    font-style: italic;

    /* font-weight: 1000; */
    font-size: 20vw;
}

.lefttext {
    animation-delay: 1s;
    /* margin-right: 10rem; */
}

.lefttext h1 {
    /* animation-delay: 1s; */
    transition-duration: 0.5s;
    /* transition-delay: 1s; */
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.righttext {
    margin-left: 3%;
    /* margin-right: 2%; */
    /* justify-content: center; */
    /* vertical-align: bottom; */
    animation-delay: 2s;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.8vw;
    margin-top: -3%;
    /* line-height: -50%; */
    /* width: 20%; */
}

.animate {
    color: #d2d2d2;
    /* transition-timing-function: ease-in-out; */
    transition-duration: 0.5s;
    /* transition-behavior: inherit; */
    /* transition-property: all; */
    /* display: inline; */
}

.righttext p {
    display: inline;
    /* top: 5rem; */
    margin-top: -15%;
    /* margin-bottom: 50%; */
    /* animation-delay: 5s; */
    text-align: justify;
}

.animate:hover {
    color: #D138D6;
    /* font-size: 1.7vw; */
}

.name h1:hover {
    transform: translateY(-2%);
}

@keyframes floatUp {
    from {
        opacity: 0;
        /* delay */
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* About Page */
.aboutpage {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-; */
    font-family: "Montserrat", sans-serif;
    color: #d2d2d2;

}

.aboutphoto {
    width: auto;

}

.aboutphoto img {
    object-fit: contain;
    margin-left: 20%;
    width: 30vw;
    display: block;
}

.abouttitle span {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
}

.abouttitle.hidden h1 {
    opacity: 0.1;
    transform: translateY(100px);
    transition: opacity 2s ease-in-out, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.abouttitle.show h1 {
    opacity: 1;
    transform: translateY(0);
}

.abouttitle h1 {
    font-weight: 800;
    letter-spacing: -0.5vw;
    margin-top: -3%;
    z-index: -5;
    position: absolute;
    /* display: block; */
    font-size: 15vw;
    color: #d2d2d2;
}

.aboutright {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.aboutbody {
    /* background-color: #363636; */
    /* position: absolute; */
    margin-top: 15%;
    padding-top: 2%;
    /* padding-right: 8%; */
    margin-right: 5%;
    border-radius: 50px;
    padding-left: 8%;
    /* padding-bottom: 5%; */
    margin-bottom: 8%;
    z-index: 50;
}

.aboutbody h4 {
    /* text-align: right; */
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1vw;
    position: absolute;
    z-index: -10;
    margin-left: -2%;
    margin-top: -1.5%;
    font-size: 2.7vw;
    font-weight: 800;
    color: #d2d2d20f;
}

.aboutbody p {
    text-align: justify;
    font-size: 0.9vw;
    line-height: 150%;
}




/* Projects Page */
.projectspage {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    color: #d2d2d2;
    /* background-color: #363636; */
    height: 200vh;
    width: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding-right: 1%; */
    /* padding-left: 1%; */
}

.projectstitle p {
    /* position: absolute; */
    /* margin-top: 15vw; */
    margin-right: 2%;
    font-size: 1.5vw;
    font-weight: 800;
    opacity: 0.2;
    font-style: italic;
    letter-spacing: -0.1vw;
    text-align: right;
}

.projectstitle h1 {
    font-weight: 800;
    margin-left: -2vw;
    letter-spacing: -0.5vw;
    position: absolute;
    font-size: 14vw;
    z-index: -50;
}

.projectstitle span {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
}

.projectstitle.hidden h1 {
    opacity: 0.05;
    transform: translateY(100px);
    transition: opacity 2s ease-in-out, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectstitle.show h1 {
    opacity: 1;
    transform: translateY(0);
}

.projectcontainer {
    /* margin-bottom: 50vw; */
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    /* gap: -10vw; */
    margin-top: 530px;
}

@media(max-width:1700px) {
    .projectcontainer {
        margin-top: 450px;
    }
}

@media(max-width:1500px) {
    .projectcontainer {
        margin-top: 400px;
    }
}

.projectcontainer img {
    /* width: auto; */
    height: 110%;
    /* width: auto; */
    /* object-fit: cover; */
    border-radius: 40px;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* padding-top: 10vh; */
    /* padding-bottom: 10vh; */
    margin-top: -15vh;
    /* border-style: solid; */
    /* border-color: #171717; */
    /* border-width: 10px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*  */

/*  */
.project3img:hover {
    transform: translateY(-2%);
    /* border-radius: 50px; */
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 50px, rgba(0, 0, 0, 0.22) 0px 30px 30px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 50px, rgba(0, 0, 0, 0.22) 0px 20px 20px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 50px, rgba(0, 0, 0, 0.22) 0px 20px 20px;
}

.project2img:hover {
    transform: translateY(-2%);
    /* border-radius: 50px; */
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 50px, rgba(0, 0, 0, 0.22) 0px 20px 20px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 50px, rgba(0, 0, 0, 0.22) 0px 20px 20px;
}


.project1img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 50px, rgba(0, 0, 0, 0.22) 0px 20px 20px;
    /* transform: scale(1.01); */
    transform: translateY(-2%);
    /* border-radius: 50px; */
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); */
}

.tips {
    /* background-color: #363636; */
    background: rgb(54,54,54);
    background: linear-gradient(138deg, rgba(54,54,54,0) 0%, rgba(54,54,54,0) 22%, rgba(33,33,33,0.41358550256039917) 40%, rgba(33,33,33,0.9457983877144608) 100%); 
    /* background: rgb(54, 54, 54);
    background: linear-gradient(138deg, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0) 17%, rgba(54, 54, 54, 0.4696079115239846) 40%, rgba(54, 54, 54, 1) 100%); */
    /* background: rgb(54, 54, 54);
    background: linear-gradient(180deg, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.4696079115239846) 42%, rgba(54, 54, 54, 1) 81%); */
    /* background: rgb(54,54,54);
    background: linear-gradient(128deg, rgba(54,54,54,0) 0%, rgba(54,54,54,0.4696079115239846) 85%, rgba(54,54,54,1) 100%);  */
    color: #d2d2d2;
    right: 0px;
    text-align: right;
    width: 50%;
    padding: 2% 4% 2% 1%;
    font-size: 0.8vw;
    /* border-radius: 20px 0px 0px 20px; */
    margin-top: 9vw;
    z-index: -100;
    position: absolute;
}

/* Row of projects */
.projectsection1,
.projectsection2 {
    display: flex;
    justify-content: space-between;
    /* background-color: #D138D6; */
    height: auto;
    padding: 2vw;
    margin-bottom: 30px;
    /* margin-top: -2vw; */
    /* margin-top: 5vh; */
    /* gap: 50px; */
}

.projectsection1 {
    margin-bottom: 200px;
}

.project1,
.project2,
.project3,
.project4 {
    /* width: 48vw; */
    /* Each project takes up nearly half the row */
    /* background-color: #363636; */
    /* background: rgb(16,16,16);
    background: linear-gradient(128deg, rgb(28, 28, 28) 0%, rgba(54,54,54,1) 73%);  */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    background: rgb(16, 16, 16);
    background: linear-gradient(128deg, rgba(16, 16, 16, 1) 0%, rgba(54, 54, 54, 1) 50%, rgba(16, 16, 16, 1) 100%);
    /* background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(240,240,240,0.95) 20%, rgb(84, 84, 84) 100%);  */
    /* background: rgb(240,240,240); */
    /* background: linear-gradient(58deg, rgba(240,240,240,1) 0%, rgba(95,95,95,1) 37%, rgba(240,240,240,1) 95%);  */
    /* flex-basis: 48%; */
    /* Placeholder background color */
    height: 33vw;
    /* Adjust height to fit your design */
    border-radius: 50px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    /* flex-direction: column; */
    /* padding-top: 2rem; */
    /* padding-bottom: 1vh; */
}

/* .project1 p,
.project2 p,
.project3 p,
.project4 p {
    text-align: left;
    justify-content: left;
    display: flex;
    position: absolute;
    margin-top: -75vh;
    margin-right: 25vw;
    margin-left: 2vw;
    font-weight: 800;
    font-size: 3vh;
} */

.projectinfo {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    width: 45%;
    /* Ensures the content spans the width of the project div */
    /* margin-top: 1vh; */
    /* padding: 0 1vw; */
    /* padding-top: 0.6vw; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1%;
    margin-bottom: 1%;
    /* Add padding if needed for spacing */
}

.projectinfo2 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    width: 80%;
    /* Ensures the content spans the width of the project div */
    margin-top: 4%;
    margin-bottom: 4%;
    /* padding: 0 1vw; */
    /* padding-top: 0.6vw; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* Add padding if needed for spacing */
}

.projectinfo3 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    width: 54%;
    /* Ensures the content spans the width of the project div */
    margin-top: 0.8%;
    margin-bottom: 1%;
    /* padding: 0 1vw; */
    /* padding-top: 0.6vw; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* Add padding if needed for spacing */
}

.projectinfo4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    width: 100%;
    /* Ensures the content spans the width of the project div */
    margin-top: 7%;
    margin-bottom: 5%;
    /* padding: 0 1vw; */
    /* padding-top: 0.6vw; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* Add padding if needed for spacing */
}

.projecttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* align-items: center; */
    gap: 2.1vw;
    /* margin-top: 0.8vw; */
    /* margin-bottom: 2vw; */
    /* margin-left: 5vh; */
    /* margin-top: 1vw; */
    /* margin-top: 2vh; */
    /* margin-bottom: 2vh; */
}

.caption {
    /* margin-top: 1vh; */
    letter-spacing: -0.3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    /* font-family: "Libre Baskerville", serif; */
    font-style: italic;
    font-weight: 1000;
    /* Bold text for visibility */
    color: #363636;
    /* Caption text color */
    /* text-align: left; */
    /* Center text */
    /* font-size: 5vw; */
    /* Font size can be adjusted */
    /* background-color: #333; */
    /* padding: 1rem; */
    /* border-radius: 0px 0px 30px 30px; */
    /* justify-content: center; */
}

.projecttext span {
    font-weight: 600;
    font-size: 0.8vw;
    /* font-size: 5vw; */
    color: #d2d2d2;
    margin-top: -2vw;
    /* margin-bottom: 1.5vw; */
}

/* Button Styling */
.projectbutton {
    display: inline-block;
    /* justify-self: center ; */
    padding: 10px 40px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px #00000068;
    /* background: rgb(207, 244, 210); */
    /* background: linear-gradient(180deg, rgba(207, 244, 210, 1) 0%, rgba(132, 215, 173, 1) 80%); */
    color: #363636;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 1vw;
}

/* Button Hover Effect */
.projectbutton:hover {
    background-color: #D138D6;
    box-shadow: 0 2px 10px #00000068;
    color: #ffffff;
    /* transform: scale(0.98); */
    transform: translateY(7%);
}

.project1 .logo {
    box-shadow: none;
    width: 13vw;
    /* background: rgb(207, 244, 210);
    background: linear-gradient(180deg, rgba(207, 244, 210, 1) 0%, rgba(132, 215, 173, 1) 80%); */
    /* Override width property */
    height: auto;
    /* padding: 12px; */
    border-radius: 0px;
    /* border-radius: 20px; */
    /* Set specific height for the logo */
    /* border-radius: 50px; */
    /* Remove the border-radius from the general rule */
    transition: none;
    /* Remove transition and hover effect */
    margin-top: 0;
    /* Adjust margin if necessary */
}

.project2 .logo {
    width: 10vw;
    box-shadow: none;
    /* background: rgb(207, 244, 210); */
    /* background-color: #FFF8F4; */
    /* background: linear-gradient(180deg, rgba(207, 244, 210, 1) 0%, rgba(132, 215, 173, 1) 80%); */
    /* Override width property */
    height: auto;
    /* padding: 10px 30px 10px 30px; */
    border-radius: 10px;
    /* Set specific height for the logo */
    /* border-radius: 50px; */
    /* Remove the border-radius from the general rule */
    transition: none;
    /* Remove transition and hover effect */
    margin-top: 0;
    margin-top: 5px;
    /* Adjust margin if necessary */
}

.project3 .logo {
    box-shadow: none;
    width: 10vw;
    height: auto;
    /* background: rgb(207, 244, 210); */
    /* background-color: #FFF8F4; */
    /* background: linear-gradient(180deg, rgba(207, 244, 210, 1) 0%, rgba(132, 215, 173, 1) 80%); */
    /* Override width property */
    /* height: auto; */
    /* padding: 0px 30px 0px 0px; */
    /* border-radius: 50px; */
    /* border-radius: 5px; */
    /* Set specific height for the logo */
    /* border-radius: 50px; */
    /* Remove the border-radius from the general rule */
    transition: none;
    /* Remove transition and hover effect */
    /* margin-top: 0; */
    margin-top: 5px;
    /* Adjust margin if necessary */
}

.project1 {
    /* background-color: #d2d2d2; */
    flex-basis: 66%;
}

/* .project1 img {
    width: 80%;
} */

.project2 {
    flex-basis: 32%;
    /* background-color: #50e3c2; */
}

.project3 {
    flex-basis: 59%;
    /* background-color: #9013fe; */
    /* height: 33vw; */
    /* margin-top: 1%; */
}

.project4 {
    flex-basis: 39%;
    /* background-color: #4a90e2; */
}

.project4 img {
    height: 100%;
}













.DELETETHIS {
    margin-top: 5000px;
}