/* Initialization */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #171717;
    overflow-x: hidden;
}

/* Navigation Bar */
.navbar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-direction: row;
    background-color: #222222;
    z-index: 100;
    top: 1rem;
    margin-top: 3rem;
    position: fixed;
    border-radius: 40px;
    margin-left: 15%;
    margin-right: 15%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}
.navbar img{
    width: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.navbar img:hover{
    transform: scale(1.2);
    background-color: #1717176b;
    padding: 0.6rem;
    border-radius: 40px;
}
.navbar ul{
    list-style: none;
    display: flex;
    padding-left: 1%;
    padding-right: 5%;
}
.navbar ul li{
    margin-left: 20px;
}
.navbar ul li a{
    color: #d2d2d2;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: medium;
    text-align: left;
    margin: 0.2rem;
    transition: 0.2s;
}
.navbar ul li a:hover{
    color: #D138D6;
    font-weight: 700;
    /* background-color: #1717176b;
    padding: 0.7rem;
    border-radius: 50px; */
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Home Page */
.line1{
    color: #363636;
    position: absolute;
    margin-top: -25%;
    width: 50%;
}
.line2{
    color: #363636;
    position: absolute;
    margin-top: 20%;
    width: 50%;
}
.homepage{
    display: flex;
    /* margin-top: 3%; */
    margin-bottom: 3%;
    /* flex-direction: co; */
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    height: 100vh;
    box-sizing: border-box;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    color: #d2d2d2;
}
.lefttext, .righttext{
    /* text-align: right; */
    flex: 1;
    opacity: 0;
    transform: translateY(50px);
    animation: floatUp 3s forwards;
    margin-top: -1%;
    /* paint-order: stroke fill; */
}
.hello h1{
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size:4vw;
    margin-bottom: -8%;
}
.name{
    text-transform: uppercase;
    
}
.name h1{
    paint-order: stroke fill;
    text-align: end;
    padding-right: 4%;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -1.5vw;
    font-weight: 1000;
    font-size:13vw;
}
.lefttext{
    animation-delay: 1s;
    /* margin-right: 10rem; */
}
.lefttext h1{
    /* animation-delay: 1s; */
    transition-duration: 0.5s;
    /* transition-delay: 1s; */
    transition-timing-function: ease-out;
}
.righttext{
    margin-left: 2%;
    margin-right: 2%;
    /* justify-content: center; */
    /* vertical-align: bottom; */
    animation-delay: 2s;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6vw;
    margin-top: -3%;
    /* line-height: -50%; */
    /* width: 20%; */
}
.animate{
    color: #d2d2d2;
    /* transition-timing-function: ease-in-out; */
    transition-duration: 0.5s;
    /* transition-behavior: inherit; */
    /* transition-property: all; */
    /* display: inline; */
}
.righttext p{
    display: inline;
    /* top: 5rem; */
    margin-top: -15%;
    /* margin-bottom: 50%; */
    /* animation-delay: 5s; */
    text-align: justify;
}
.animate:hover{
    color: #D138D6;
    /* font-size: 1.7vw; */
}
.lefttext h1:hover{
    transform: translateY(-5%);
}
@keyframes floatUp {
    from {
        opacity: 0;
        /* delay */
        transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/* About Page */
.aboutpage{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-; */
    font-family: "Montserrat", sans-serif;
    color: #d2d2d2;

}
.aboutphoto{
    width: auto;
    
}
.aboutphoto img{
    object-fit: contain;
    margin-left: 20%;
    width: 30vw;
    display: block;
}
.abouttitle.hidden h1 {
    opacity: 0;
    transform: translateY(75px);
    transition: opacity 2s ease-in-out, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}   
.abouttitle.show h1{
    opacity: 1;
    transform: translateY(0);
}
.abouttitle h1{
    font-weight: 800;
    margin-top: -3%;
    z-index: -5;
    position: absolute;
    /* display: block; */
    font-size: 15vw;
    color: #d2d2d2;
}
.aboutright{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
.aboutbody{
    margin-top: 13%;
    padding-right: 2%;
    padding-left: 8%;
}
.aboutbody h4{
    /* text-align: right; */
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1vw;
    position: absolute;
    z-index: -10;
    margin-left: -2%;
    margin-top: -1.5%;
    font-size: 2.7vw;
    font-weight: 800;
    color: #d2d2d20f;
}
.aboutbody p{
    text-align: justify;
    font-size: 1vw;
    line-height: 150%;
}


.DELETETHIS{
    margin-top: 5000px;
}